.chat-header {
  display: flex;
  /* height: 47px; */
  align-items: center;
  justify-content: space-between;
  background: #f5eaea;
  padding: 0px 25px;
  font-weight: 700;
}

.chat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.header__chat-name {
  font-size: 26px;
}

.header__last-message {
  margin-left: 20px;
}
.header__chat-name,
.header__partipians,
.header__messages {
  margin-right: 1em;
}

.header__partipians i,
.header__messages i,
.header__last-message i {
  font-size: 12px;
  margin-right: 10px;
}