.error-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow-y: auto;

  background: rgba(0, 0, 0, 0.5);
}

.error-modal-container--show {
  display: flex;
}

.error-modal-wrapper {
  position: absolute;
  z-index: 20;

  box-sizing: border-box;
  width: 100%;
  max-width: 550px;
  height: auto;
  padding: 0;
  padding: 25px;
}

.error-modal {
  height: 100%;
  width: 100%;
  background: #f3f7fb;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.error-modal__header {
  text-align: center;
  padding: 35px;
  font-size: 22px;
  letter-spacing: 1.2px;
  background: #fff;
  margin: 0px;
  color: red;
}

.error-modal__body {
  height: auto;
  min-height: 200px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-modal__message {
  padding: 25px;
  line-height: 1.5;
  font-size: 16px;
}

.error-modal__button {
  box-sizing: border-box;
  width: 100px;
  height: 38px;
  border-radius: 10px;
  padding: 5px;
  background: #fff;
  border: none;
  border: 2px solid #eee;
  margin: auto;
  margin-bottom: 25px;
}

.error-modal__button:focus {
  outline: none;
  background: #eee;
}

.error-modal__button:hover {
  cursor: pointer;
  border: 2px solid #dadada;
}
