.messages {
  padding: 25px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.messages::-webkit-scrollbar {
  width: 5px;
  max-height: 10px;
}

.messages::-webkit-scrollbar-track {
  background: #f6f6f7;
}

.messages::-webkit-scrollbar-thumb {
  background: #e3e5e8;
}

.messages::-webkit-scrollbar-thumb:hover {
  background: #ccced0;
}

hr {
  position: relative;
  width: 100%;
  height: 5px;
}

.messages__date-line {
  width: 100%;
  height: 2px;
  background-color: #eee;
  margin: 30px 0px;
  margin-bottom: 50px;
  text-align: center;
}

.messages__date-line span {
  position: relative;
  top: -10px;
  text-align: center;
  background: #fff;
  padding: 0 20px;
}
