.user-page {
  position: relative;
  height: auto;
  max-width: 500px;
  border: 1px solid #eee;
  background: #f3f7fb;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;

  height: 700px;
}

.user-page__header {
  text-align: center;
  padding: 35px;
  font-size: 22px;
  letter-spacing: 1.2px;
  background: #fff;
  margin: 0px;
}

.user-page form {
  height: 400px;
  padding: 25px;
  box-sizing: border-box;
}

.user-page button {
  box-sizing: border-box;
  width: 100px;
  height: 38px;
  border-radius: 10px;
  padding: 5px;
  background: #fff;
  border: none;
  border: 2px solid #eee;
  margin-top: 10px;
}

.user-page button:focus {
  outline: none;
  background: #eee;
}

.user-page button:hover {
  cursor: pointer;
  border: 2px solid #dadada;
}

.user-page__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
}

.user-page__button {
  box-sizing: border-box;
  width: 100px;
  height: 38px;
  border-radius: 10px;
  padding: 5px;
  background: #fff;
  border: none;
  border: 2px solid #eee;
}

.user-page .user-page__button.user-page__button--cancel {
  background: #ffe5e5;
  margin-left: 15px;
}

.user-page__button:focus {
  outline: none;
  background: #eee;
}

.user-page .user-page__button.user-page__button--cancel:focus {
  background: #ffb2b2;
}

.user-page .user-page__button.user-page__button:hover {
  cursor: pointer;
  border: 2px solid #dadada;
}
