.user-item {
  display: flex;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  background: #fff;
}

.user-item:nth-child(2n - 1) {
  background: #f9fbfd;
}

.user-item__item {
  text-align: center;
  width: 25%;
  height: 100%;
  margin: auto;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-item__item i {
  color: #9f9f9f;
}

.user-item__item i:hover {
  color: #6f6f6f;
  cursor: pointer;
}

.user-item__item img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
