.message-input {
  box-sizing: border-box;
  background: #f0f6fb;
  padding: 20px;
}

.message-input form {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.message-input textarea {
  box-sizing: border-box;
  width: 100%;
  height: unset;
  border: none;
  padding: 15px 25px;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  background: #fff;
  resize: none;
  margin-right: 25px;
  line-height: 1.5;
}

.message-input textarea:focus {
  outline: 2px solid #eeeeee;
}

.message-input textarea::-webkit-scrollbar {
  width: 5px;
  max-height: 10px;
}

.message-input textarea::-webkit-scrollbar-track {
  background: #f6f6f7;
}

.message-input textarea::-webkit-scrollbar-thumb {
  background: #e3e5e8;
}

.message-input textarea::-webkit-scrollbar-thumb:hover {
  background: #ccced0;
}

.message-input__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.message-input__buttons button {
  box-sizing: border-box;
  width: 100px;
  height: 38px;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #eee;
  background: #fff;
}

.message-input__buttons button:focus {
  outline: none;
  background: #eee;
}

.message-input__buttons button:hover {
  cursor: pointer;
  border: 2px solid #dadada;
}
