.form__element {
  position: relative;
  margin-bottom: 15px;
}

.form__label {
  margin-bottom: 15px;
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 15px 25px;

  line-height: 1.5;

  background: #ffffff;

  border: 1px solid transparent;
  border-radius: 10px;
  margin-bottom: 20px;
}

.form__input.form__input--error {
  border: 1px solid red;
}

.form__input:focus {
  outline: 2px solid #eeeeee;
}

.form__input__error {
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: 0px;
}
