.users-page {
  position: relative;

  display: grid;
  grid-template-rows: 85px auto 125px;
  box-sizing: border-box;
  width: 100vw;
  max-width: 900px;
  height: 100vh;
  max-height: 1200px;
  margin: auto;
  overflow: hidden;

  font-family: 'Source Sans Pro', sans-serif;

  border: 1px solid var(--border-color);
  background-color: #fff;
  height: calc(100vh - 80px);
}

.users-page__button {
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  border: 2px solid #eee;
  margin: 30px auto;
}

.users-page__button:focus {
  outline: none;
  background: #eee;
}

.users-page button:hover {
  cursor: pointer;
  border: 2px solid #dadada;
}
