.chat {
  position: relative;

  display: grid;
  grid-template-rows: 85px auto 125px;
  box-sizing: border-box;
  width: 100vw;
  max-width: 900px;
  height: 100vh;
  max-height: 1200px;
  margin: auto;
  overflow: hidden;

  font-family: 'Source Sans Pro', sans-serif;

  border: 1px solid var(--border-color);
  background-color: #fff;
  height: calc(100vh - 80px);
}
